<div class="container" id="unsubscribe">
	Leaving already??? (: <br>
	We get it, Newsletters aren't for everybody.<br>
	Still friends??? (:
</div>

<script type="text/javascript">
	setTimeout(function() {
		window.location = "<%=root_path%>";
	}, 5000);
</script>