html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font-family: 'Rubik', sans-serif;
	left:0px !important;
	right: 0px !important;

}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

$green: #6db96d;

html, body{
  height:100%;
  min-height: 500px;
}
body{
	letter-spacing: 0.03em;
	font-size: 14px;
	font-weight: normal;
	color: #fff;
}

a, a:hover, .navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus, a:focus{
	color:inherit;
	text-decoration: none;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus{
	color: #fff;
	background: none;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a{
	color:#fff;
}
.btn{
	text-transform: uppercase;
	border-radius: 0px;
	font-weight: bold;
	&:focus{
		outline: none;
	}
	&:focus, &:active, &:hover{
		color:#fff;
	}
}
.btn-black{
	background: #000;
	color: #fff;
}
.form-control{
	box-shadow: none;
	background: #fff;
	border-radius: 0px;
	border: 2px solid #000;	
	height: 45px;
}
.field_with_errors{
	.form-control{
		border-bottom: 2px solid #d01010;
	}
}
textarea.form-control{
	resize: none;
	height: 100px;
	
}
footer{
	background: #000;
    height: 60px;
}
a.navbar-brand{
	border: 3px solid #fff;
    border-radius: 100%;
    font-weight: bold;
    color: #fff;
    padding: 8px;
    padding-top: 13px;
    font-size: 21px;
    letter-spacing: -1px;
}
.navbar-default .navbar-brand{
	color: #fff;
}

.navbar-default{
	background: #000;
	padding-bottom: 20px;
    padding-top: 15px;
    -webkit-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.46);
-moz-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.46);
box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.46);
border:none;
	/*height: 60px;*/
	a{
		opacity: 1;
	}
}
#subscribe{
	padding: 12px 15px;
	/*padding-right: 0px;*/
	.form-control{
		display: inline-block;
		width: 59.5%;
		height: 26px;
		border: none;
	}
	form{
		position: relative;
	}
	.btn{
		border: 2px solid #fff;
	    height: 26px;
	    padding-top: 2px;
	    /* vertical-align: middle; */
	    position: relative;
	    top: -0.07em;
	    font-weight: bold;
	    left: -4px;
	}
	.field_with_errors{
		display: inline-block;
		.form-control{
			width: 101%;
			border-bottom: 2px solid #d01010;
			height: 27px;
		}

	}
	.field_with_errors + .btn{
		top: -0.0em;
	}
	span{
		position: absolute;
	    font-size: 10px;
	    right: 5px;
	}
}
#pageWrap{
	min-height: 100%;
	padding-top:70px;
	color: #000;
	.sec{
		/*min-height: 200px;*/
		padding:40px 0px;
		border-bottom: 1px solid #000;
	}
	.sec:last-child{
		border:none;
	}
	h3.title{
		font-size: 24px;
		text-transform: uppercase;
		font-weight: bold;
		padding-bottom:20px;
	}
	.text{
		font-weight: bold;
		line-height: 1.6;
		max-width: 800px;
	   min-width: 300px;
	   margin:0 auto;
	}
	#events{
		font-weight: bold;
		.title{
			font-size: 16px;
		}
		a{

			padding-top:3px;
			display: block;
		}
	}
	#shop{
		.text{
			min-width: 100px;
		
			font-weight: bold;
			padding-top:10px;
			line-height: 1.6;
		}
		img{
			max-width: 100%;
			height: auto;
		}
	}
	#gallery{
		img{
			max-width: 100%;
			height: auto;
		}
		.item{
				padding-left: 5px;
				padding-right: 5px;
			}
		.bg-img{
			background-size: cover;
			background-position: center center;

		}
		.bg-img.big{
			height: 400px;
			margin-top:10px;
		}
		.grid-wrap{
			height: 400px;
			> div{
				height: 100%;
				.bg-img{
					height: 100%;
				}
				.col-xs-12{
					height: 50%;
				}
			}
			
			
			
		}
		.two-row{
			> div:last-child{
				padding-top:10px;
			}
		}
	}
	#contact{
		form{
			max-width: 600px;
		    min-width: 300px;
		    margin: 0 auto;
		    width: 100%;
		    margin-top: 30px;
		}
		.btn{
			float:right;
			padding: 10px 20%;
		}
	}
}

@media only screen and (max-width: 767px) {
	.navbar-default{
		padding-top: 0px;
		padding-bottom: 0px;
		.navbar-toggle{
			border:none;
			&:hover, &:active, &:focus{
				background:none;
			}
		}
	}
	a.navbar-brand {
	        border: 3px solid #fff;
    border-radius: 100%;
    font-weight: bold;
    color: #fff;
    padding: 4px;
    padding-top: 5px;
    font-size: 17px;
    letter-spacing: -1px;
    height: 35px;
    width: 35px;
    margin-top: 7px;
    margin-left: 15px;	}

	#pageWrap{
		#shop{
			.text{
				font-size: 12px;
				padding-top: 5px;
				padding-bottom: 20px;
			}
		}
		#gallery{
			.bg-img{
				background-position: center 0;
			}
			.grid-wrap{
				height: auto;
				> div{
					height: 300px;
					.col-xs-12{
						height: 100%;
					}
				}

			}
		}
	}
}
@media (min-width: 1200px){
	.container {
		width: 1024px;
	}
}
@media only screen and (max-width: 420px) {
	 #pageWrap{
	 	#shop{
	 		.col-xs-4{
	 			width: 100%;
	 		}
	 	}
	 }
}


.img-wrap:hover img {
	opacity: 1;
	-webkit-animation: flash 1.5s;
	animation: flash 1.5s;
}
@-webkit-keyframes flash {
	0% {
		opacity: .4;
	}
	100% {
		opacity: 1;
	}
}
@keyframes flash {
	0% {
		opacity: .4;
	}
	100% {
		opacity: 1;
	}
}